body {
    background-color: black;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}

#themachine {
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 1;
    align-items: center;
}

/* VIEWER AREA */

.viewer {
    justify-self: center;
    justify-content: center;   
    border-width: 1px 5px;
    margin-bottom: 10px;
    margin-top: 3vh;
}

#map, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 80vw;
    min-width: 310px;
    max-width: 500px;

}

#map {
    z-index: 0;
    border-color: grey;
    border-style: solid double;
}

.blur { 
    filter: blur(40px) opacity(.8); 
}

#inventory1 {
    z-index: 1;
}

#inventory2 {
    z-index: 2;
}

#inventory3 {
    z-index: 3;
}

#inventory4 {
    z-index: 4;
}

#inventory5 {
    z-index: 5;
}

#inventory6 {
    z-index: 6;
}

#inventory7 {
    z-index: 6;
}

/* OUTPUT TEXT AREA */

.outputarea {
    border: 1px solid grey;
    height: 250px;
    color: white;
    padding: 5px;
    width: 80vw;
    max-width: 700px;
    justify-self: center;
    overflow: scroll;
} 

#output > span {
    color: rgb(255, 152, 152);
}

.dialoguearea > input {
    display: none;
    font-family:inherit;
    font-size: inherit;
    background-color: black;
    color: white;
    border: solid grey 1px;
    padding: 1px 5px 5px;
    margin-top: 10px;
  }

/* INPUT AREA */

.inputarea {
    justify-self: center;
    margin-top: 10px;
}

.inputarea > input {
    font-family:inherit;
    font-size: inherit;
    background-color: black;
    color: white;
    border: solid grey 1px;
    padding: 5px;
    margin-bottom: 10px;
  }

input:focus, textarea { 
    outline: none;
    /* outline: rgb(75, 75, 75) solid px; */
}  

#userinput {
    width: 300px;
}

#enterbutton {
    max-width: 80px;
    padding-left: 5px;
}

@media (max-width:397px){
    .inputarea {
        display: inline-grid;
        justify-items: center;
    }

    #map {
        margin-top: 0px;
    }
}