body {
    background-color: black;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}

#themachine {
    display: grid;
    grid-template:  " e "
                    " b " 
                    " d " ;
    align-items: center;
}
 
#map {
    grid-area: e;
    justify-self: center;
    border-color: grey;
    border-style: solid double;
    border-width: 1px 5px;
    margin-bottom: 10px;
    margin-top: 3vh;
    width: 80vw;
    min-width: 310px;
    max-width: 500px;
}

.outputarea {
    border: 1px solid grey;
    height: 250px;
    color: white;
    grid-area: b;
    padding: 5px;
    width: 80vw;
    max-width: 700px;
    justify-self: center;
} 

#output > span {
    color: rgb(255, 152, 152);
}

.inputarea {
    grid-area: d;
    justify-self: center;
    margin-top: 10px;
}

input, textarea {
    font-family:inherit;
    font-size: inherit;
    background-color: black;
    color: white;
    border: solid grey 1px;
    padding: 5px;
    margin-bottom: 10px;
  }

input:focus, textarea { 
    outline: none;
    /* outline: rgb(75, 75, 75) solid px; */
}  

#userinput {
    width: 300px;
}

#enterbutton {
    max-width: 80px;
    padding-left: 5px;
}

@media (max-width:397px){
    .inputarea {
        display: inline-grid;
        justify-items: center;
    }

    #map {
        margin-top: 0px;
    }
}