html, body {
    overscroll-behavior: none;   /*  disable pull-down-to-refresh-page on mobile, via    https://www.matuzo.at/blog/2022/100daysof-day53/   */
  }

body {
    background-color: black;
    font-family: 'VT323', sans-serif;
    font-size: 24px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0px;
    touch-action: manipulation;  /* via  https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
}

/* TITLE CARD */

#titlecard {
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);  
    width: 100vw;
    overflow: hidden;
    max-width: 720px;
    min-width: 320px;
    height: 100vh;  
    /* height: -webkit-fill-available; */
    object-fit: cover;
}

#titlecard > img {
    max-width: 100vw;
}

/* #wificard {
    position: absolute;
    color: gray;
    text-align: center;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);  
    width: 100vw;
    overflow: hidden;
    max-width: 720px;
    min-width: 320px;
    height: 100vh;  
    height: -webkit-fill-available;
    object-fit: cover;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
} */

.fadeout { 
    animation: fadeOut 1s; 
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes fadeOut {
    0% { opacity: 1;  }
    100% { opacity: 0; }
  }

.goeast {
    animation: goEast 1s ease-out;
    animation-iteration-count: 1;
}

.gosouth {
    animation: goSouth 1s ease-out;
    animation-iteration-count: 1;
}

.gonorth {
    animation: goNorth 1s ease-out;
    animation-iteration-count: 1;
}

.gowest {
    animation: goWest 1s ease-out;
    animation-iteration-count: 1;
}

@keyframes goEast {
    0% { 
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translate(-16.7%, 10%); 
        filter: blur(2px);
    }
    51% {
        opacity: 0;
        transform: translate(16.7%, -10%); 
        filter: blur(0px);
    }
    100% { 
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes goNorth {
    0% { 
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translate(16.7%, 10%);
        filter: blur(2px);
    }
    51% {
        opacity: 0;
        transform: translate(-16.7%, -10%); 
        filter: blur(0px);
    }
    100% { 
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes goSouth {
    0% {  
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translate(-16.7%, -10%);
        filter: blur(2px);
    }
    51% {
        opacity: 0;
        transform: translate(16.7%, 10%); 
        filter: blur(0px);
    }
    100% { 
        transform: translate(0, 0); 
        opacity: 1;
    }
}

@keyframes goWest {
    0% { 
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translate(16.7%, -10%); 
        filter: blur(2px);
    }
    51% {
        opacity: 0;
        transform: translate(-16.7%, 10%); 
        filter: blur(0px);
    }
    100% { 
        transform: translate(0, 0); 
        opacity: 1;
    }
}

/* CUTSCENE VIEWER */

#loadinggif {
    z-index: 101;
    position: absolute;
    transform: translateX(-50%);  
    transform: translateY(-50%);  
    padding: 50%;
}

#cutsceneviewer {
    display: none;
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);  
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    height: 95vh;  
    /* height: -webkit-fill-available; */
    overflow: hidden;
    border: 1px solid black;
}

#cutscenevideo {
    z-index: 999;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#cutscene {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* #cutsceneviewer::after {
    background-image: linear-gradient(black 1%, transparent 50% , black 99%);
  } */


/* MAIN GAME BODY */

#border1, #border2 {
    width: auto;
    height: auto;
}

#themachine {
    justify-items: center;
    display: none;   
    /* display: flex; get rid of the this when done testing xxxxx */
    flex-flow:column nowrap;
    max-width: 720px;
    min-width: 320px;
    height: 95vh;   
    margin-right: auto;
    margin-left: auto;
}

/* VIEWER AREA */

#viewbox {
    position: relative;
    display: flex;
    /* border: 1px pink dashed; */
    width: 100%;
    justify-content: center;
    max-width: 600px;
    height: auto;
    margin: 5px auto 10px;
    max-height: 55%;
}

.viewer {
    aspect-ratio: 3/2;
    max-width: 500px;
    border: 1px solid white;
    display: grid;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#blackbackground {
    background: black;
    z-index: -1;
}

#map, #cutsceneviewer, .inventorybutton, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #book, #maptiles, #blackbackground {
    max-height: 100%;
    max-width: 100%;
    grid-row: 1;
    grid-column: 1;
    min-width: 350px;
}

#map {
    display: grid;
    height: 100%;
}

.room {
    position: absolute;
    /* position: relative; */
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    /* transition: 0.1s all ease-in-out; */
}

/* #room14 {           
    z-index: 0;
} */

#room1, #room2, #room3, #room4, #room5, #room6, #room7, #room8, #room9, #room10, #room11, #room12, #room13, #room14, #room15 {
    z-index: -2;
}

/* #map:hover {
    transform: scale(1.6);
} */

.blur { 
    filter: blur(40px) opacity(.8); 
}

.blurless { 
    filter: blur(20px); 
}

.darken { 
    filter: brightness(40%);
}

#inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8 {
    position: relative;
    z-index: -2;
}

.compasstriangles {
    position: absolute;
    z-index: 50;
    height: 24%;
    max-height: 90px;
    display: inline;
}

.compasstriangles:hover, #enterbutton:hover {
    cursor: pointer;
}

#southtriangle {
    bottom: 0;
    right: 0;
    opacity: 0%;
}

#northtriangle {
    opacity: 0%;
}

#westtriangle {
    bottom: 0;
    opacity: 0%;
}

#easttriangle {
    right: 0;
    opacity: 90%;
}

#book {
    z-index: 9;
}

#maptiles {
    z-index: -2;
    display: block;
    background-image: url(./maptiles/mapbackground.png);
    background-size: contain;
    position: relative;
}

.roomtile {
    width: 15%;
    position: absolute;
}

#maparrow{
    left: 42.6%;
    top: 53%;
    z-index: 11;
    opacity: 1;
    animation: fadeInOut 2s linear infinite;
}
    
@keyframes fadeInOut {
    0%,100% { 
        opacity: .5;
        transform: translateY(-5px);
    }
    50% { 
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes introArrowFade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: .8;
    }
}

#room1tile {
    left: 42.6%;
    top: 53%;
}

#room2tile {
    top: 32%;
    left: 55.3%;
}

#room3tile {
    left: 55.3%;
    top: 53%;
}

#room4tile {
    left: 42.6%;
    top: 32%;
}

#room5tile {
    left: 42.6%;
    top: 73%;
}

#room6tile {
    left: 55.3%;
    top: 73%;
}

#room7tile {
    left: 29.8%;
    top: 13%;
}

#room8tile {
    left: 16.9%;
    top: 13%;
}

#room9tile {
    left: 68%;
    top: 32%;
}

#room10tile {
    left: 29.8%;
    top: 53%;
}

#room11tile {
    left: 29.8%;
    top: 32%;
}

#room12tile {
    left: 29.8%;
    top: 69.35%;
}

#room14tile {
    left: 16.9%;
    top: 73%;
}

#room15tile {
    left: 74.3%;
    top: 63%;
}

/* INVENTORY */

.inventorybutton {
    position: relative;
    min-width: 0px;
    width: 10%;
    height: 10%;
    opacity: 0;
}

.inventorybutton:focus {
    opacity: 0;
}

.inventorybutton:active {
    opacity: 0;
}

.inventorybutton:focus {
    opacity: 0;
}

#rockbutton {
    width: 7%;
    top: 70%;
    left: 19.5%;
    z-index: 207;
}

#flowerbutton {
    top: 50%;
    left: 32%;
    width: 8%;
    height: 25%;
    z-index: 206;
}

#keybutton {
    top: 48%;
    left: 52%;
    width: 8%;
    height: 28%;
    transform: rotate(59deg);
    z-index: 204;
}

#stickbutton {
    top: 61%;
    left: 72%;
    width: 5%;
    height: 32%;
    transform: rotate(72deg);
    z-index: 208;
}

#chestbutton {
    top: 37%;
    left: 22%;
    width: 40%;
    height: 30%;
    transform: rotate(-4deg);
    z-index: 200;
}

#ropebutton {
    top: 54%;
    left: 15%;
    width: 54%;
    height: 20%;
    z-index: 201;
}

#ribbonbutton {
    width: 27%;
    top: 72%;
    left: 36%;
    transform: rotate(-5deg);
    z-index: 203;
}

#mugbutton {
    width: 17%;
    height: 30%;
    top: 40%;
    left: 68%;
    z-index: 203;
}

#crystalbutton {
    width: 11%;
    top: 66.5%;
    left: 61.5%;
    z-index: 205;
}

.findkey {
    animation: findKey .6s linear;
    animation-iteration-count: 1;
}

@keyframes findKey {
    0% {
        transform: rotate(-500deg) scaleX(.1) scaleY(.1);
        
    }
    100% {
        transform: rotate(0deg) scaleX(1) scaleY(1);
    }
    
}

/* OUTPUT TEXT AREA */

#outputarea {
    display: none;
    border: 1px solid white;
    position: relative;
    z-index: 0;
    max-height: 600px;
    width: 93%;
    height: 35%;
    color: white;
    padding: 3px 5px 3px;
    margin: 0px auto;
    flex-grow: 5;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    text-align: center;
} 

.movetheviewbox {
    animation: moveTheViewbox 2s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes moveTheViewbox {
    0% {
        top: 50%;
        transform: translate(0, -50%)
    }
    100% {
        top: 0%;
        transform: translate(0, 0%);
    }
}

#output {
    padding-bottom: 5px;
    display: none;
}

#output > span {
    color: rgb(255, 152, 152);
}

span > button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: rgb(255, 152, 152);
}

span > button:active {
    background: none;
    border: none;
    color: rgb(255, 208, 208);
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

span > button:hover {
    cursor: pointer;
}

#output > .journal {
    color: rgb(201, 255, 212);
}

#output > .robot {
    color: rgb(148, 200, 255);
}

.dialoguearea > input, .dialoguearea > button {
    font-family:inherit;
    font-size: inherit;
    background-color: black;
    color: white;
    border: solid white 1px;
    padding: 1px 5px 5px;
}

.dialogue {
    padding: 5px;
}

#dialogue1 {
    display: none;
    margin: 30px auto 0;
    max-width: 95%;
    color: rgb(255, 152, 152);
}

#dialogue2 {
    display: none;
    margin: 10px auto 0;
    max-width: 95%;
    color: rgb(255, 152, 152);
}

#leavebutton {
    display: none;
    margin: 10px auto 5px;
    max-width: 98.5%;
    color: rgb(255, 152, 152);
}

#bookbutton {
    display: none;
    margin: 5px auto 5px;
    color: rgb(255, 152, 152);
}

.textfadein {
    animation: fadeIn 1.6s ease-in;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

.boxfadein {
    animation: boxFadeIn 2s ease-out;
    animation-iteration-count: 1;
}

@keyframes boxFadeIn {
    0% { 
        opacity: 0;
        transform: translate(0, -45%) scaleY(.1) scaleX(.3);
    }
    100% { 
        opacity: 1;
        transform: translate(0, 0) scaleY(1) scaleX(1);

    }
}



/* INPUT AREA */

#inputarea {
    display: none;
    /* border: 1px solid pink; */
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0px 8px;
    margin-bottom: 5px;
}

#inputarea > input {
    font-family: inherit;
    font-size: inherit;
    background-color: black;
    color: white;
    border: solid white 1px;
    margin-top: 10px;
  }

#userinput {
    max-width: 280px;
    flex-direction: row;
    flex-grow: 10;
    min-width: 180px;
    padding: 5px;
    -webkit-appearance: none;
    appearance: auto;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#userinput:focus { 
    outline: 2px solid gray;
    /* justify-self: center; */
    -webkit-appearance: none;
    appearance: auto;
    -webkit-border-radius: 0px;
    border-radius: 0;
}  

#enterbutton {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: auto;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#enterbutton:focus { 
    outline: none;
    /* justify-self: center; */
    -webkit-appearance: none;
    appearance: auto;
    -webkit-border-radius: 0px;
    border-radius: 0;
}  

.whitefadeoutforbuttons {
    animation: buttonWhiteFade .2s ease-in 1;
    animation-fill-mode: forwards;
    
}

@keyframes buttonWhiteFade {
    0% { 
        background-color: rgb(120, 120, 120);
    }
    100% { 
        background-color: black;
    }
}

.brightfadeoutfortriangles {
    animation: triangleBrightFade .2s ease-in 1;
    animation-fill-mode: forwards;
}

@keyframes triangleBrightFade {
    0% { 
        filter: brightness(2);
        opacity: 75%;
    }
    100% { 
        filter: brightness(1);
        opacity: 75%;
    }
}
  
@media only screen and (orientation: portrait) {
    #titlecard {
        height: -webkit-fill-available;
    }

    #themachine {
        height: -webkit-fill-available;
    }

    #cutsceneviewer {
        height: -webkit-fill-available;
    }
    #cutscenevideo {
        height: -webkit-fill-available;
    }
}

@media only screen and (orientation: landscape) {
    .compasstriangles {
        max-height: 85px;
    }
}